body {
  background-color: white;
}

html {
  scroll-behavior: smooth;
}

.page-wrap {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

::-moz-selection {
  color: white;
  background: #f3bc32;
}

::selection {
  color: white;
  background: #f3bc32;
}
@font-face {
  font-family: "Bebas Neue";
  src: url(0b053dc75ec799c9290d.woff);
}

.about {
  position: relative;
  background-color: #fbfbfb;
  right: 0;
  top: 100%;
  height: 100%;
  width: 100%;
  padding-bottom: 0.5%;
}

.about .TitleLabels {
  display: block;
  font-family: "Bebas Neue";
  font-size: 580%;
  font-weight: 500;
  text-align: center;
  background-color: #f3bc32;
  color: #fbfbfb;
  position: relative;
  margin: 0 auto;
  margin-top: 6.5%;
  margin-bottom: 3%;
  width: 63%;
  padding-block: 0.2%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  word-wrap: break-word;
}

span {
  color: orange;
}

#sitelogo {
  display: block;
  position: relative;
  padding-top: 5%;
  margin: 0 auto;
  height: 20%;
  width: 18%;
  cursor: pointer;
}

#AboutTitle::before {
  content: "";
  position: absolute;
  left: -0.8%;
  top: -8%;
  padding-left: 101%;
  height: 110%;
  background-color: #fbfbfb;
  border: solid #f8b53b 3.8px;
  -webkit-transform: translateZ(-1px);
          transform: translateZ(-1px);
}

#WWDTitle {
  position: relative;
  display: block;
  top: 90%;
  margin: 0 auto;
  width: 25%;
  margin-top: 10%;
  margin-bottom: 3%;
}

#WWDTitle::before {
  content: "";
  position: absolute;
  left: -2.1%;
  top: -6%;
  width: 102.5%;
  height: 108%;
  background-color: #fbfbfb;
  border: solid orange 3.8px;
  -webkit-transform: translateZ(-1px);
          transform: translateZ(-1px);
}

#AboutP {
  position: relative;
  margin-top: 1%;
  padding-bottom: 2%;
  margin: 0 auto;
  font-size: 25px;
  text-align: center;
  width: 70%;
}
.frontpage {
  position: relative;
  background-color: orange;
  right: 0px;
  top: 0px;
  width: auto;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 3%;
  padding-bottom: 5%;
  padding-left: 1.5%;
}

.frontpage .frontpagetiles {
  display: block;
  font-family: "Times New Roman", Serif;
  font-size: 3.5vw;
  font-weight: 300;
  position: relative;
  background-color: black;
  margin: auto;
  color: white;
}

#tile1 {
  margin-left: -40%;
  margin-top: 1%;
  width: 36%;
  padding-inline: 1%;
  padding-block: 0.5%;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-name: slideout1;
          animation-name: slideout1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes slideout1 {
  from {
    margin-left: -40%;
    opacity: 0;
  }
  to {
    margin-left: 13%;
    opacity: 1;
  }
}

@keyframes slideout1 {
  from {
    margin-left: -40%;
    opacity: 0;
  }
  to {
    margin-left: 13%;
    opacity: 1;
  }
}

#tile2 {
  width: 29%;
  margin-left: -40%;
  margin-top: 7%;
  padding-inline: 1%;
  padding-block: 0.5%;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-name: slideout2;
          animation-name: slideout2;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes slideout2 {
  from {
    margin-left: -40%;
    opacity: 0;
  }
  to {
    margin-left: 13.5%;
    opacity: 1;
  }
}

@keyframes slideout2 {
  from {
    margin-left: -40%;
    opacity: 0;
  }
  to {
    margin-left: 13.5%;
    opacity: 1;
  }
}

#tile3 {
  width: 30%;
  margin-left: -40%;
  margin-top: 7%;
  padding-inline: 1%;
  padding-block: 0.5%;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  -webkit-animation-name: slideout3;
          animation-name: slideout3;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes slideout3 {
  from {
    margin-left: -40%;
    opacity: 0;
  }
  to {
    margin-left: 14%;
    opacity: 1;
  }
}

@keyframes slideout3 {
  from {
    margin-left: -40%;
    opacity: 0;
  }
  to {
    margin-left: 14%;
    opacity: 1;
  }
}

#learnmorebtn {
  opacity: 0;
  font-family: "Times New Roman", Serif;
  display: block;
  margin-left: 60%;
  margin-top: 6%;
  color: rgba(255, 140, 0, 0.889);
  background-color: black;
  font-size: 3.5vw;
  width: 20%;
  text-align: center;
  padding-inline: 1%;
  padding-block: 0.5%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
  -webkit-animation-name: fadein;
          animation-name: fadein;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#learnmorebtn:hover {
  color: rgba(255, 213, 0, 0.889);
}
@font-face {
  font-family: "Bebas Neue";
  src: url(0b053dc75ec799c9290d.woff);
}

.WWD {
  position: relative;
  background-color: #f1f1f1;
  right: 0;
  top: 100%;
  height: 100%;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 3%;
}

.WWD .subtitleWWD {
  font-family: "Bebas Neue";
  color: #f8b53b;
  position: relative;
  padding-bottom: 2%;
  margin: 0 auto;
  margin-top: 3%;
  font-size: 35px;
  text-align: center;
  width: 70%;
}

.WWD .features {
  width: 70%;
  height: 60%;
  margin: 0 auto;
  position: relative;
}

.WWD .features .moneythumb, .WWD .features .polishthumb, .WWD .features .visibilitythumb {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.WWD .features .funding {
  vertical-align: top;
  position: relative;
  display: inline-block;
  width: 33.33%;
  height: 50%;
}

.WWD .features .funding .moneythumb {
  position: relative;
  margin-top: 15%;
  left: 23%;
  width: 50%;
  height: 50%;
  margin-bottom: 5.5%;
}

.WWD .features .polish {
  vertical-align: top;
  position: relative;
  display: inline-block;
  width: 33.33%;
  height: 45%;
}

.WWD .features .polish .polishthumb {
  position: relative;
  margin-top: 10%;
  left: 24%;
  width: 45%;
  height: 45%;
}

.WWD .features .visibility {
  vertical-align: top;
  position: relative;
  display: inline-block;
  width: 33.33%;
  height: 50%;
}

.WWD .features .visibility .visibilitythumb {
  position: relative;
  margin-top: 10%;
  left: 26%;
  width: 45%;
  height: 45%;
}

.WWD .features .featThumb {
  margin-top: 5%;
  left: 20%;
  padding-bottom: 5%;
  display: inline-block;
  position: relative;
  width: 65%;
  background: #f3bc32;
  border-radius: 2%;
}

.WWD .features .featThumb::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 38%;
  width: 1%;
  border-top: 20px solid #f3bc32;
  border-top-color: #f3bc32;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.WWD .features .featTitle {
  font-family: "Bebas Neue";
  position: relative;
  margin-top: 8%;
  left: 16%;
  font-size: 20px;
  text-align: center;
  width: 70%;
}

.WWD .features .featDesc {
  position: relative;
  font-family: "Arial";
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  word-wrap: break-word;
  left: 12%;
  width: 80%;
}
@font-face {
  font-family: "Bebas Neue";
  src: url(0b053dc75ec799c9290d.woff);
}

.portfolio {
  position: relative;
  background-color: #fbfbfb;
  right: 0;
  top: 100%;
  height: 100%;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 3%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio .TitleLabels {
  margin: 0 auto;
  display: block;
  font-family: "Bebas Neue";
  font-size: 500%;
  font-weight: 500;
  text-align: center;
  background-color: #f3bc32;
  color: #fbfbfb;
  position: relative;
  margin-top: 6.5%;
  margin-bottom: 3%;
  width: 18%;
  padding-block: 0.2%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  word-wrap: break-word;
}

.portfolio .TitleLabels::before {
  content: "";
  position: absolute;
  left: -2.5%;
  top: -8%;
  width: 102.5%;
  height: 108%;
  background-color: #fbfbfb;
  border: solid orange 3.8px;
  -webkit-transform: translateZ(-1px);
          transform: translateZ(-1px);
}

.portfolio .portfoliosubtitle {
  margin: 0 auto;
  position: relative;
  margin-top: 1%;
  padding-bottom: 2%;
  font-size: 23.5px;
  text-align: center;
  width: 70%;
}

.portfolio .listing {
  margin: 0 auto;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio .listing li {
  margin: 0 auto;
  display: block;
  height: auto;
  width: auto;
  position: relative;
  float: left;
  margin-inline: 1%;
  margin-block: 0.8%;
  font-family: "Bebas Neue";
  font-size: 16.5px;
  border: solid 2px;
  padding-inline: 0.6%;
  padding-block: 0.6%;
  cursor: pointer;
}

.portfolio .platformlist {
  margin: 0 auto;
  position: relative;
  margin-top: 2.5%;
  right: 2%;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio .platformlist li:hover {
  color: #f3bc32;
}

.portfolio .gamegrid {
  position: relative;
  width: 100%;
  margin-top: 1%;
  right: 0%;
}

.portfolio .gamegrid .gamelist {
  padding: 0px;
  right: 0px;
  top: 0px;
  position: relative;
  margin-top: 2.5%;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio .gamegrid .gamelist .thumbnail {
  display: block;
  width: auto;
  position: relative;
  float: left;
  cursor: pointer;
  margin-block: -0.1%;
  overflow: hidden;
}

.portfolio .gamegrid .gamelist .thumbnail .imgthumb {
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.portfolio .gamegrid .gamelist .thumbnail .overlay {
  visibility: hidden;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-family: "Bebas Neue";
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  z-index: 2;
}

.portfolio .gamegrid .gamelist .thumbnail .overlay .title {
  margin-top: 25%;
  font-size: 25px;
}

.portfolio .gamegrid .gamelist .thumbnail .overlay .platforms {
  font-size: 14px;
}

.portfolio .gamegrid .gamelist .thumbnail .overlay .title, .portfolio .gamegrid .gamelist .thumbnail .overlay .platforms {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
  margin-left: 10%;
  width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.portfolio .gamegrid .gamelist .thumbnail:hover .overlay {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.6);
}

.portfolio .gamegrid .gamelist .thumbnail:hover .overlay p {
  opacity: 1;
}

.portfolio .gamegrid .gamelist .thumbnail:hover img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.nonvisible {
  display: none;
}

.visible {
  display: block;
}

.selectedplat {
  color: #f3bc32;
}

#clickedthumb {
  border: solid 2px rgba(128, 128, 128, 0.407);
}
@font-face {
  font-family: "Bebas Neue";
  src: url(0b053dc75ec799c9290d.woff);
}

.project-wrap {
  position: relative;
  background-color: #f1f1f1;
  right: 0;
  top: 100%;
  height: 100%;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 3.5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-wrap .carrouselwrap {
  position: relative;
  margin: 0 auto;
  display: block;
  width: 62.5%;
}

.project-wrap .projectdescwrap {
  position: relative;
  width: 62.5%;
  margin: 0 auto;
  display: block;
}

.project-wrap .projectdescwrap .projectdesctitle {
  font-family: "Bebas Neue";
  font-size: 20px;
  margin-top: 3%;
  margin-bottom: 1%;
}

.closeproj {
  position: relative;
  display: block;
  width: 2%;
  margin-left: 75%;
  margin-bottom: 1%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.closeproj:hover {
  -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-5deg) saturate(600%) contrast(0.9);
          filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-5deg) saturate(600%) contrast(0.9);
}

img {
  width: 100%;
}

.textdesc {
  font-family: "Arial";
  font-size: 14px;
  line-height: 150%;
}

#bold {
  font-weight: bold;
  color: black;
}

#developerlink {
  text-decoration: none;
  color: #f3bc32;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#developerlink:hover {
  color: black;
}

.viewproject {
  margin-top: 2%;
  position: relative;
  display: block;
  font-weight: bold;
  font-size: 13px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 12%;
  font-family: "Arial";
  background-color: #f3bc32;
  color: #fbfbfb;
  padding-block: 1.3%;
  padding-inline: 0.3%;
  border-radius: 3%;
  text-align: center;
  cursor: pointer;
}

.viewproject a {
  text-decoration: none;
  color: white;
}

.visibleproject {
  display: block;
}

.nonvisibleproject {
  display: none;
}
.carousel .control-arrow,.carousel.carousel-slider .control-arrow{-webkit-transition:all .25s ease-in;-moz-transition:all .25s ease-in;-ms-transition:all .25s ease-in;-o-transition:all .25s ease-in;transition:all .25s ease-in;opacity:.4;filter:alpha(opacity=40);position:absolute;z-index:2;top:20px;background:none;border:0;font-size:32px;cursor:pointer}.carousel .control-arrow:focus,.carousel .control-arrow:hover{opacity:1;filter:alpha(opacity=100)}.carousel .control-arrow:before,.carousel.carousel-slider .control-arrow:before{margin:0 5px;display:inline-block;border-top:8px solid transparent;border-bottom:8px solid transparent;content:''}.carousel .control-disabled.control-arrow{opacity:0;filter:alpha(opacity=0);cursor:inherit;display:none}.carousel .control-prev.control-arrow{left:0}.carousel .control-prev.control-arrow:before{border-right:8px solid #fff}.carousel .control-next.control-arrow{right:0}.carousel .control-next.control-arrow:before{border-left:8px solid #fff}.carousel-root{outline:none}.carousel{position:relative;width:100%}.carousel *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.carousel img{width:100%;display:inline-block;pointer-events:none}.carousel .carousel{position:relative}.carousel .control-arrow{outline:0;border:0;background:none;top:50%;margin-top:-13px;font-size:18px}.carousel .thumbs-wrapper{margin:20px;overflow:hidden}.carousel .thumbs{-webkit-transition:all .15s ease-in;-moz-transition:all .15s ease-in;-ms-transition:all .15s ease-in;-o-transition:all .15s ease-in;transition:all .15s ease-in;-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-ms-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);position:relative;list-style:none;white-space:nowrap}.carousel .thumb{-webkit-transition:border .15s ease-in;-moz-transition:border .15s ease-in;-ms-transition:border .15s ease-in;-o-transition:border .15s ease-in;transition:border .15s ease-in;display:inline-block;margin-right:6px;white-space:nowrap;overflow:hidden;border:3px solid #fff;padding:2px}.carousel .thumb:focus{border:3px solid #ccc;outline:none}.carousel .thumb.selected,.carousel .thumb:hover{border:3px solid #333}.carousel .thumb img{vertical-align:top}.carousel.carousel-slider{position:relative;margin:0;overflow:hidden}.carousel.carousel-slider .control-arrow{top:0;color:#fff;font-size:26px;bottom:0;margin-top:0;padding:5px}.carousel.carousel-slider .control-arrow:hover{background:rgba(0,0,0,0.2)}.carousel .slider-wrapper{overflow:hidden;margin:auto;width:100%;-webkit-transition:height .15s ease-in;-moz-transition:height .15s ease-in;-ms-transition:height .15s ease-in;-o-transition:height .15s ease-in;transition:height .15s ease-in}.carousel .slider-wrapper.axis-horizontal .slider{-ms-box-orient:horizontal;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-moz-flex;display:-webkit-flex;display:flex}.carousel .slider-wrapper.axis-horizontal .slider .slide{flex-direction:column;flex-flow:column}.carousel .slider-wrapper.axis-vertical{-ms-box-orient:horizontal;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-moz-flex;display:-webkit-flex;display:flex}.carousel .slider-wrapper.axis-vertical .slider{-webkit-flex-direction:column;flex-direction:column}.carousel .slider{margin:0;padding:0;position:relative;list-style:none;width:100%}.carousel .slider.animated{-webkit-transition:all .35s ease-in-out;-moz-transition:all .35s ease-in-out;-ms-transition:all .35s ease-in-out;-o-transition:all .35s ease-in-out;transition:all .35s ease-in-out}.carousel .slide{min-width:100%;margin:0;position:relative;text-align:center}.carousel .slide img{width:100%;vertical-align:top;border:0}.carousel .slide iframe{display:inline-block;width:calc(100% - 80px);margin:0 40px 40px;border:0}.carousel .slide .legend{-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;position:absolute;bottom:40px;left:50%;margin-left:-45%;width:90%;border-radius:10px;background:#000;color:#fff;padding:10px;font-size:12px;text-align:center;opacity:0.25;-webkit-transition:opacity .35s ease-in-out;-moz-transition:opacity .35s ease-in-out;-ms-transition:opacity .35s ease-in-out;-o-transition:opacity .35s ease-in-out;transition:opacity .35s ease-in-out}.carousel .control-dots{position:absolute;bottom:0;margin:10px 0;padding:0;text-align:center;width:100%;z-index:1}@media (min-width: 960px){.carousel .control-dots{bottom:0}}.carousel .control-dots .dot{-webkit-transition:opacity .25s ease-in;-moz-transition:opacity .25s ease-in;-ms-transition:opacity .25s ease-in;-o-transition:opacity .25s ease-in;transition:opacity .25s ease-in;opacity:.3;filter:alpha(opacity=30);box-shadow:1px 1px 2px rgba(0,0,0,0.9);background:#fff;border-radius:50%;width:8px;height:8px;cursor:pointer;display:inline-block;margin:0 8px}.carousel .control-dots .dot.selected,.carousel .control-dots .dot:hover{opacity:1;filter:alpha(opacity=100)}.carousel .carousel-status{position:absolute;top:0;right:0;padding:5px;font-size:10px;text-shadow:1px 1px 1px rgba(0,0,0,0.9);color:#fff}.carousel:hover .slide .legend{opacity:1}

@font-face {
  font-family: "Bebas Neue";
  src: url(0b053dc75ec799c9290d.woff);
}

.whyysbryd {
  position: relative;
  background-color: #fbfbfb;
  right: 0;
  top: 100%;
  height: 100%;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 3%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.whyysbryd .TitleLabels {
  margin: 0 auto;
  display: block;
  font-family: "Bebas Neue";
  font-size: 500%;
  font-weight: 500;
  text-align: center;
  background-color: #f3bc32;
  color: #fbfbfb;
  position: relative;
  margin-top: 1%;
  margin-bottom: 1.5%;
  width: 24%;
  padding-block: 0.2%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  word-wrap: break-word;
}

.whyysbryd .TitleLabels::before {
  content: "";
  position: absolute;
  left: -2.2%;
  top: -10%;
  width: 102.5%;
  height: 112%;
  background-color: #fbfbfb;
  border: solid orange 3.8px;
  -webkit-transform: translateZ(-1px);
          transform: translateZ(-1px);
}

.whyysbryd .subtitlewhy {
  margin: 0 auto;
  position: relative;
  margin-top: 0.1%;
  padding-bottom: 2%;
  font-size: 23.5px;
  text-align: center;
  width: 58%;
}

.whyysbryd p {
  margin: 0 auto;
  font-family: "Arial";
  position: relative;
  margin-top: 1%;
  font-size: 18px;
  text-align: center;
  width: 65%;
}

.whyysbryd .partnersection {
  margin-top: 5%;
  position: relative;
  background-color: orange;
  width: auto;
  height: auto;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-block: 12%;
  padding-left: 1.5%;
  color: #fbfbfb;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.whyysbryd .partnersection .partnertext {
  margin: 0 auto;
  font-family: "Bebas Neue";
  position: relative;
  font-size: 45px;
  text-align: center;
  width: 65%;
  line-height: 140%;
}
@font-face {
  font-family: "Bebas Neue";
  src: url(0b053dc75ec799c9290d.woff);
}

.news {
  position: relative;
  background-color: #fbfbfb;
  right: 0;
  top: 100%;
  height: 100%;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 0.8%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news .TitleLabels {
  margin: 0 auto;
  display: block;
  font-family: "Bebas Neue";
  font-size: 500%;
  font-weight: 500;
  text-align: center;
  background-color: #f3bc32;
  color: #fbfbfb;
  position: relative;
  margin-top: 1%;
  margin-bottom: 1.5%;
  width: 10%;
  padding-block: 0.2%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  word-wrap: break-word;
}

.news .TitleLabels::before {
  content: "";
  position: absolute;
  left: -4.4%;
  top: -10%;
  width: 104%;
  height: 112%;
  background-color: #fbfbfb;
  border: solid orange 3.8px;
  -webkit-transform: translateZ(-1px);
          transform: translateZ(-1px);
}

.news .newssubtitles {
  margin: 0 auto;
  position: relative;
  margin-top: 0.1%;
  padding-bottom: 3.5%;
  font-size: 23.5px;
  text-align: center;
  width: 58%;
}

.news .newsgrid {
  position: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f1f1f1;
  right: 0;
  top: 100%;
  height: 100%;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news .newsgrid .newslist {
  width: 70%;
  height: 60%;
  margin: 0 auto;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Arial";
}

.news .newsgrid .newslist .new1 {
  vertical-align: top;
  position: relative;
  display: inline-block;
  width: 33.33%;
  height: 50%;
}

.news .newsgrid .newslist .new2 {
  vertical-align: top;
  position: relative;
  display: inline-block;
  width: 33.33%;
  height: 50%;
}

.news .newsgrid .newslist .new3 {
  vertical-align: top;
  position: relative;
  display: inline-block;
  width: 33.33%;
  height: 50%;
}

.news .newsgrid .newslist .newthumb {
  position: relative;
  background-color: #f3bc32;
  border: solid 6px white;
  -webkit-box-shadow: 0 0 3px #ccc;
          box-shadow: 0 0 3px #ccc;
  width: 85%;
  overflow: hidden;
  margin-bottom: 3.5%;
}

.news .newsgrid .newslist .imgthumb {
  height: 100%;
  width: 100%;
  position: relative;
  vertical-align: top;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.news .newsgrid .newslist .newthumb:hover img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.news .newsgrid .newslist .newthumb:hover .thumbselect {
  visibility: visible;
  background: rgba(243, 188, 50, 0.9);
}

.news .newsgrid .newslist .newthumb:hover .imgselect {
  opacity: 1;
}

.news .newsgrid .newslist .thumbselect {
  width: inherit;
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(243, 188, 50, 0);
  z-index: 2;
  visibility: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  bottom: 0%;
}

.news .newsgrid .newslist .imgselect {
  width: 13%;
  margin-left: 42%;
  margin-top: 26%;
  -webkit-filter: invert(1);
          filter: invert(1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
}

.news .newsgrid .newslist .newdate {
  background-color: #f3bc32;
}

.news .newsgrid .newslist .newcomments {
  background-color: #e7e7e7;
}

.news .newsgrid .newslist .icon {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 5%;
  background-color: #e7e7e7;
  border: solid 10px #e7e7e7;
  border-radius: 48%;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.news .newsgrid .newslist .icon .mag {
  bottom: 0%;
  margin: 0 auto;
  width: 100%;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.news .newsgrid .newslist .icon:hover {
  background-color: #f3bc32;
  border-color: #f3bc32;
}

.news .newsgrid .newslist .icon:hover .mag {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.news .newsgrid .newslist .newtitle {
  position: relative;
  display: inline-block;
  font-size: 20px;
  width: 70%;
  margin-left: 5%;
}

.news .newsgrid .newslist .newdate {
  position: relative;
  display: inline-block;
  margin-left: 15%;
  padding-inline: 3%;
  padding-block: 1%;
  font-size: 10px;
  color: white;
}

.news .newsgrid .newslist .newcomments {
  position: relative;
  display: inline-block;
  padding-inline: 3%;
  padding-block: 1%;
  font-size: 10px;
}

.news .newsgrid .newslist .newdate, .news .newsgrid .newslist .newcomments {
  margin-top: 2%;
  margin-bottom: 3.5%;
}

.news .newsgrid .newslist .newdesc {
  position: relative;
  display: inline-block;
  margin-left: 15%;
  width: 65%;
  font-size: 14px;
  line-height: 135%;
  margin-bottom: 3%;
}

.news .newsgrid .newslist .readmore {
  position: relative;
  display: inline-block;
  font-size: 14px;
  margin-left: 15%;
  color: #f3bc32;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  text-decoration: none !important;
}

.news .newsgrid .newslist .readmore:hover {
  color: black;
}
@font-face {
  font-family: "Bebas Neue";
  src: url(0b053dc75ec799c9290d.woff);
}

.contact {
  position: relative;
  background-color: #fbfbfb;
  right: 0;
  top: 100%;
  height: 100%;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 3%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact p {
  margin: 0 auto;
  font-family: "Bebas Neue";
  position: relative;
  margin-top: 1%;
  margin-bottom: 1.5%;
  font-size: 19.5px;
  text-align: center;
  width: 65%;
}

.contact .viewposts {
  margin: 0 auto;
  margin-top: -0.5%;
  position: relative;
  display: block;
  font-weight: bold;
  font-size: 13px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 6.4%;
  font-family: "Arial";
  background-color: #f3bc32;
  color: #fbfbfb;
  padding-block: 0.8%;
  padding-inline: 1.3%;
  border-radius: 3%;
  text-align: center;
  cursor: pointer;
  margin-bottom: 7%;
}

.contact .viewposts a {
  text-decoration: none;
  color: white;
}

.contact .TitleLabels {
  margin: 0 auto;
  display: block;
  font-family: "Bebas Neue";
  font-size: 500%;
  font-weight: 500;
  text-align: center;
  background-color: #f3bc32;
  color: #fbfbfb;
  position: relative;
  margin-top: 1%;
  margin-bottom: 1.5%;
  width: 20%;
  padding-block: 0.2%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  word-wrap: break-word;
}

.contact .TitleLabels::before {
  content: "";
  position: absolute;
  left: -2.3%;
  top: -7%;
  width: 102%;
  height: 107%;
  background-color: #fbfbfb;
  border: solid orange 3.8px;
  -webkit-transform: translateZ(-1px);
          transform: translateZ(-1px);
}

.contact .subtitlecontact {
  margin: 0 auto;
  position: relative;
  margin-top: 0.1%;
  padding-bottom: 2.5%;
  font-size: 23.5px;
  text-align: center;
  width: 58%;
}

.contact .bottomlineis {
  margin: 0 auto;
  position: relative;
  background-color: #f1f1f1;
  right: 0;
  top: 100%;
  height: 100%;
  width: 100%;
  padding-top: 3%;
  padding-bottom: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.contact .bottomlineis p {
  margin: 0 auto;
  font-family: "Arial";
  position: relative;
  margin-top: 1%;
  font-size: 14px;
  font-weight: 100;
  text-align: center;
  width: 62%;
}

.contact .footer .footerlogo {
  margin: 0 auto;
  display: block;
  position: relative;
  padding-top: 5%;
  height: 20%;
  width: 13%;
  cursor: pointer;
}

.contact .footer .socials {
  width: 100%;
  padding-top: 2%;
  padding-bottom: 1%;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .footer .socials .email, .contact .footer .socials .facebook, .contact .footer .socials .twitter {
  background-color: #f1f1f1;
  width: 2.8%;
  position: relative;
  overflow: hidden;
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-right: 0.8%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 10%;
}

.contact .footer .socials .email .socialicon, .contact .footer .socials .facebook .socialicon, .contact .footer .socials .twitter .socialicon {
  position: relative;
  vertical-align: top;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-bottom: -100%;
}

.contact .footer .socials .email .socialicon:hover, .contact .footer .socials .facebook .socialicon:hover, .contact .footer .socials .twitter .socialicon:hover {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contact .footer .socials .email {
  margin-left: 45%;
}

.contact .footer .socials .email:hover {
  background-color: grey;
}

.contact .footer .socials .facebook:hover {
  background-color: #4267b2;
}

.contact .footer .socials .twitter:hover {
  background-color: #1da1f2;
}

.contact .footer p {
  margin: 0 auto;
  font-family: "Arial";
  position: relative;
  margin-top: 1%;
  font-size: 14px;
  font-weight: 100;
  text-align: center;
  width: 62%;
}
@font-face {
  font-family: "Bebas Neue";
  src: url(0b053dc75ec799c9290d.woff);
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  overflow: hidden;
  background-color: white;
  opacity: 0.95;
  width: 100%;
  height: auto;
  padding-bottom: 10px;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.075);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.075);
  z-index: 5;
}

.navbar .logonavbar {
  float: left;
  display: block;
  width: 16%;
  padding-block: 0.6%;
  margin-left: 2.5%;
  cursor: pointer;
}

.navbar .sections {
  margin-top: 2%;
  float: right;
  display: block;
  color: black;
  font-family: "Bebas Neue";
  font-size: 140%;
  text-align: center;
  padding-inline: 1%;
  text-decoration: none;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .sections a {
  display: block;
  float: left;
  padding-inline: 2%;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.navbar .sections a:hover {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  color: #f8b53b;
}

.navbar .backtotop {
  margin-top: 10%;
  background-color: blue;
  width: 10%;
}
.backtotop {
  position: -webkit-sticky;
  position: sticky;
  top: 600px;
  overflow: hidden;
  background-color: #515151;
  opacity: 0.95;
  width: 2.8%;
  border-radius: 50%;
  margin-left: 95%;
  z-index: 5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-block: 0.8%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.backtotop img {
  position: relative;
  width: 45%;
  margin-left: 27%;
}

.backtotop:hover {
  background-color: #262626;
}
