$tiles-font: "Times New Roman", Serif;

.frontpage {
    position: relative;
    background-color: orange;
    right: 0px;
    top: 0px;
    width: auto;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 3%;
    padding-bottom: 8%;
    padding-left: 1.5%;

    .frontpagetiles {
        display: block;
        font-family: $tiles-font;
        font-size: 3.5vw;
        font-weight: 300;
        position: relative;
        background-color: black;
        //padding: 10px;
        margin: auto;
        color: white;


    }

}

#tile1 {
    margin-left: 13%;
    margin-top: 1%;
    width: 36%;
    padding-inline: 1%;
    padding-block: 0.5%;
}

#tile2 {
    width: 29%;
    margin-left: 13.5%;
    margin-top: 7%;
    padding-inline: 1%;
    padding-block: 0.5%;
}

#tile3 {
    width: 30%;
    margin-left: 14%;
    margin-top: 7%;
    padding-inline: 1%;
    padding-block: 0.5%;
}


#learnmorebtn {
    font-family: $tiles-font;
    display: block;
    margin-left: 60%;
    margin-top: 6%;
    color: rgba(255, 140, 0, 0.889);
    background-color: black;
    font-size: 3.5vw;
    width: 20%;
    text-align: center;
    padding-inline: 1%;
    padding-block: 0.5%;
    transition: 0.3s;
    text-decoration: none;;
    cursor: pointer;

}


#learnmorebtn:hover {
    
    color: rgba(255, 213, 0, 0.889);
}




