@font-face {
  font-family: "Bebas Neue";
  src: url(../../assets/fonts/BebasNeue-webfont.woff);
}

.news {
  position: relative;
  background-color: #fbfbfb;
  right: 0;
  top: 100%;
  height: 100%;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 0.8%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news .TitleLabels {
  margin: 0 auto;
  display: block;
  font-family: "Bebas Neue";
  font-size: 500%;
  font-weight: 500;
  text-align: center;
  background-color: #f3bc32;
  color: #fbfbfb;
  position: relative;
  margin-top: 1%;
  margin-bottom: 1.5%;
  width: 10%;
  padding-block: 0.2%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  word-wrap: break-word;
}

.news .TitleLabels::before {
  content: "";
  position: absolute;
  left: -4.4%;
  top: -10%;
  width: 104%;
  height: 112%;
  background-color: #fbfbfb;
  border: solid orange 3.8px;
  -webkit-transform: translateZ(-1px);
          transform: translateZ(-1px);
}

.news .newssubtitles {
  margin: 0 auto;
  position: relative;
  margin-top: 0.1%;
  padding-bottom: 2%;
  font-size: 23.5px;
  text-align: center;
  width: 58%;
}

.news .newsgrid {
  position: relative;
  background-color: #f1f1f1;
  right: 0;
  top: 100%;
  height: 100%;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news .newsgrid .newslist {
  background-color: rgba(0, 0, 0, 0.044);
  width: 70%;
  height: 60%;
  margin: 0 auto;
  position: relative;
  padding-bottom: 20%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Arial";
}

.news .newsgrid .newslist .new1 {
  vertical-align: top;
  position: relative;
  display: inline-block;
  width: 33.33%;
  height: 50%;
  background-color: rgba(234, 255, 0, 0.193);
}

.news .newsgrid .newslist .new2 {
  vertical-align: top;
  position: relative;
  display: inline-block;
  width: 33.33%;
  height: 50%;
  background-color: rgba(0, 0, 255, 0.089);
}

.news .newsgrid .newslist .new3 {
  vertical-align: top;
  position: relative;
  display: inline-block;
  width: 33.33%;
  height: 50%;
  background-color: rgba(255, 0, 0, 0.137);
}

.news .newsgrid .newslist .newthumb {
  background-color: #f3bc32;
  border: solid 6px white;
  -webkit-box-shadow: 0 0 3px #ccc;
          box-shadow: 0 0 3px #ccc;
  width: 75%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.news .newsgrid .newslist .newthumb:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.news .newsgrid .newslist .newdate {
  background-color: #f3bc32;
}

.news .newsgrid .newslist .newcomments {
  background-color: #e7e7e7;
}

.news .newsgrid .newslist .icon {
  width: 6%;
  background-color: #e7e7e7;
  border: solid 20px #e7e7e7;
  border-radius: 45%;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.news .newsgrid .newslist .icon .mag {
  width: 100%;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.news .newsgrid .newslist .icon:hover {
  background-color: #f3bc32;
  border-color: #f3bc32;
}

.news .newsgrid .newslist .icon:hover .mag {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.news .newsgrid .newslist .readmore {
  color: #f3bc32;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  text-decoration: none !important;
}

.news .newsgrid .newslist .readmore:hover {
  color: black;
}
/*# sourceMappingURL=News.css.map */