@font-face {
  font-family: "Bebas Neue";
  src: url(../../assets/fonts/BebasNeue-webfont.woff);
}

.portfolio {
  position: relative;
  background-color: #fbfbfb;
  right: 0;
  top: 100%;
  height: 100%;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 3%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio .TitleLabels {
  margin: 0 auto;
  display: block;
  font-family: "Bebas Neue";
  font-size: 500%;
  font-weight: 500;
  text-align: center;
  background-color: #f3bc32;
  color: #fbfbfb;
  position: relative;
  margin-top: 6.5%;
  margin-bottom: 3%;
  width: 18%;
  padding-block: 0.2%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  word-wrap: break-word;
}

.portfolio .TitleLabels::before {
  content: "";
  position: absolute;
  left: -2.5%;
  top: -8%;
  width: 102.5%;
  height: 108%;
  background-color: #fbfbfb;
  border: solid orange 3.8px;
  -webkit-transform: translateZ(-1px);
          transform: translateZ(-1px);
}

.portfolio .portfoliosubtitle {
  margin: 0 auto;
  position: relative;
  margin-top: 1%;
  padding-bottom: 2%;
  font-size: 23.5px;
  text-align: center;
  width: 70%;
}

.portfolio .listing {
  margin: 0 auto;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio .listing li {
  margin: 0 auto;
  display: block;
  height: auto;
  width: auto;
  position: relative;
  float: left;
  margin-inline: 1%;
  margin-block: 0.8%;
  font-family: "Bebas Neue";
  font-size: 16.5px;
  border: solid 2px;
  padding-inline: 0.6%;
  padding-block: 0.6%;
  cursor: pointer;
}

.portfolio .platformlist {
  margin: 0 auto;
  position: relative;
  margin-top: 2.5%;
  right: 2%;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio .platformlist li:hover {
  color: #f3bc32;
}

.portfolio .gamegrid {
  position: relative;
  width: 100%;
  margin-top: 1%;
  right: 0%;
}

.portfolio .gamegrid .gamelist {
  padding: 0px;
  right: 0px;
  top: 0px;
  position: relative;
  margin-top: 2.5%;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio .gamegrid .gamelist .thumbnail {
  display: block;
  width: auto;
  position: relative;
  float: left;
  cursor: pointer;
  margin-block: -0.1%;
  overflow: hidden;
}

.portfolio .gamegrid .gamelist .thumbnail .imgthumb {
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.portfolio .gamegrid .gamelist .thumbnail .overlay {
  visibility: hidden;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-family: "Bebas Neue";
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  z-index: 2;
}

.portfolio .gamegrid .gamelist .thumbnail .overlay .title {
  margin-top: 25%;
  font-size: 25px;
}

.portfolio .gamegrid .gamelist .thumbnail .overlay .platforms {
  font-size: 14px;
}

.portfolio .gamegrid .gamelist .thumbnail .overlay .title, .portfolio .gamegrid .gamelist .thumbnail .overlay .platforms {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
  margin-left: 10%;
  width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.portfolio .gamegrid .gamelist .thumbnail:hover .overlay {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.6);
}

.portfolio .gamegrid .gamelist .thumbnail:hover .overlay p {
  opacity: 1;
}

.portfolio .gamegrid .gamelist .thumbnail:hover img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.nonvisible {
  display: none;
}

.visible {
  display: block;
}

.selectedplat {
  color: #f3bc32;
}

#clickedthumb {
  border: solid 6px rgba(128, 128, 128, 0.407);
}
/*# sourceMappingURL=Portfolio.css.map */