@font-face {
    font-family: "Bebas Neue";
    src: url(../../assets/fonts/BebasNeue-webfont.woff);
}

$titlelabels-font: "Bebas Neue";

.project-wrap {
    position: relative;
    background-color: rgb(241, 241, 241);
    right: 0;
    top: 100%;
    
    height: 100%;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 3.5%;
    justify-content: center;

    .carrouselwrap {
        position: relative;
        margin: 0 auto;
        display: block;
        width: 62.5%;
    }

    .projectdescwrap {
        position: relative;
        width: 62.5%;
        margin: 0 auto;
        display: block;

        .projectdesctitle {
            font-family: $titlelabels-font;
            font-size: 20px;
            margin-top: 3%;
            margin-bottom: 1%;
        }

    }

}

.closeproj {
    position: relative;
    display: block;
    width: 2%;
    margin-left: 75%;
    margin-bottom: 1%;
    transition: 0.3s;
}

.closeproj:hover {
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-5deg) saturate(600%) contrast(0.9);
}

img {
    width: 100%;
}

.textdesc {
    font-family: "Arial";
    font-size: 14px;
    line-height: 150%;
}

#bold {
    font-weight: bold;
    color: black;
}

#developerlink {
    text-decoration: none;
    color: rgb(243, 188, 50);
    transition: 0.3s;
}

#developerlink:hover {
    color: black;
}

.viewproject {
    margin-top: 2%;
    position: relative;
    display: block;
    font-weight: bold;
    font-size: 13px;
    justify-content: center;
    width: 12%;
    font-family: "Arial";
    background-color: rgb(243, 188, 50);
    color: rgb(251, 251, 251);
    padding-block: 1.3%;
    padding-inline: 0.3%;
    border-radius: 3%;
    text-align: center;
    cursor: pointer;
    a {
        text-decoration: none;
        color: white;
    }


    
}

.visibleproject {
    display: block;
}

.nonvisibleproject {
    display: none;
}